.about-section {
  background-color: burlywood;
  padding: 4rem 2rem;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

.about-content {
  flex: 1;
  min-width: 280px;
  color:black;
}

.about-content h2 {
  font-size: 2rem;
  color: #5b3924;
  margin: 1rem 0;
}

.about-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-content .intro {
  font-family:  sans-serif;
  font-style: italic;
  color: #444;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.about-image img {
  max-width: 500px;
  width: 450px;
  height:fit-content;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(177, 52, 52, 0.1);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
