.contact-section {
  padding: 40px 20px;
  background-color: rgb(235, 224, 162);
  text-align: center;
  font-size: 1.5rem;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #ae1c28;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #911b24;
}

.contact-info {
  margin-top: 30px;
  font-size: 1.2rem;
  color: rgb(16, 5, 5);
}

/* Responsive Contact */
@media (max-width: 600px) {
  .contact-form {
    width: 100%;
    padding: 10px;
  }
}
